## Clustering _ main goal is to categorize simsilar datapoints together
1. KMeans
2. Algomerative clustering

## Based on agge, income and spending categorize similar customers together

In [1]:
from warnings import filterwarnings
filterwarnings ('ignore')

In [3]:
%pip install yellowbrick plotly nbformat

Collecting yellowbrick
  Using cached yellowbrick-1.5-py3-none-any.whl.metadata (7.7 kB)
Requirement already satisfied: plotly in d:\ml_work\repository\venv\lib\site-packages (5.22.0)
Requirement already satisfied: nbformat in d:\ml_work\repository\venv\lib\site-packages (5.10.4)
Requirement already satisfied: matplotlib!=3.0.0,>=2.0.2 in d:\ml_work\repository\venv\lib\site-packages (from yellowbrick) (3.8.4)
Requirement already satisfied: scipy>=1.0.0 in d:\ml_work\repository\venv\lib\site-packages (from yellowbrick) (1.13.0)
Requirement already satisfied: scikit-learn>=1.0.0 in d:\ml_work\repository\venv\lib\site-packages (from yellowbrick) (1.4.2)
Requirement already satisfied: numpy>=1.16.0 in d:\ml_work\repository\venv\lib\site-packages (from yellowbrick) (1.26.4)
Requirement already satisfied: cycler>=0.10.0 in d:\ml_work\repository\venv\lib\site-packages (from yellowbrick) (0.12.1)
Requirement already satisfied: tenacity>=6.2.0 in d:\ml_work\repository\venv\lib\site-packages (from plotly) (8.3.0)
Requirement already satisfied: packaging in d:\ml_work\repository\venv\lib\site-packages (from plotly) (24.0)
Requirement already satisfied: fastjsonschema>=2.15 in d:\ml_work\repository\venv\lib\site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in d:\ml_work\repository\venv\lib\site-packages (from nbformat) (4.22.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in d:\ml_work\repository\venv\lib\site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in d:\ml_work\repository\venv\lib\site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in d:\ml_work\repository\venv\lib\site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in d:\ml_work\repository\venv\lib\site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in d:\ml_work\repository\venv\lib\site-packages (from jsonschema>=2.6->nbformat) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in d:\ml_work\repository\venv\lib\site-packages (from jsonschema>=2.6->nbformat) (0.18.1)
Requirement already satisfied: platformdirs>=2.5 in d:\ml_work\repository\venv\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.2.1)
Requirement already satisfied: pywin32>=300 in d:\ml_work\repository\venv\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (306)
Requirement already satisfied: contourpy>=1.0.1 in d:\ml_work\repository\venv\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.2.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\ml_work\repository\venv\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\ml_work\repository\venv\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.4.5)
Requirement already satisfied: pillow>=8 in d:\ml_work\repository\venv\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\ml_work\repository\venv\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in d:\ml_work\repository\venv\lib\site-packages (from matplotlib!=3.0.0,>=2.0.2->yellowbrick) (2.9.0.post0)
Requirement already satisfied: joblib>=1.2.0 in d:\ml_work\repository\venv\lib\site-packages (from scikit-learn>=1.0.0->yellowbrick) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\ml_work\repository\venv\lib\site-packages (from scikit-learn>=1.0.0->yellowbrick) (3.5.0)
Requirement already satisfied: six>=1.5 in d:\ml_work\repository\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.0.0,>=2.0.2->yellowbrick) (1.16.0)
Downloading yellowbrick-1.5-py3-none-any.whl (282 kB)
   ---------------------------------------- 0.0/282.6 kB ? eta -:--:--
   - -------------------------------------- 10.2/282.6 kB ? eta -:--:--
   - -------------------------------------- 10.2/282.6 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/282.6 kB 220.2 kB/s eta 0:00:02
   ----------- --------------------------- 81.9/282.6 kB 416.7 kB/s eta 0:00:01
   ---------------------- --------------- 163.8/282.6 kB 704.6 kB/s eta 0:00:01
   ---------------------------------------  276.5/282.6 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 282.6/282.6 kB 1.0 MB/s eta 0:00:00
Installing collected packages: yellowbrick
Successfully installed yellowbrick-1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd
df = pd.read_csv('Mall_Customers.csv')
df.head()

   CustomerID  Gender  Age  Income  Spending
0           1    Male   19      15        39
1           2    Male   21      15        81
2           3  Female   20      16         6
3           4  Female   23      16        77
4           5  Female   31      17        40

In [5]:
df.info

<bound method DataFrame.info of      CustomerID  Gender  Age  Income  Spending
0             1    Male   19      15        39
1             2    Male   21      15        81
2             3  Female   20      16         6
3             4  Female   23      16        77
4             5  Female   31      17        40
..          ...     ...  ...     ...       ...
195         196  Female   35     120        79
196         197  Female   45     126        28
197         198    Male   32     126        74
198         199    Male   32     137        18
199         200    Male   30     137        83

[200 rows x 5 columns]>

In [6]:
df.isna().sum()

CustomerID    0
Gender        0
Age           0
Income        0
Spending      0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df.shape

(200, 5)

In [9]:
x = df[['Age', 'Income', 'Spending']]
x.head()

   Age  Income  Spending
0   19      15        39
1   21      15        81
2   20      16         6
3   23      16        77
4   31      17        40

In [ ]:
import plotly.express as ex